.NavigationMenuViewport {
    position: relative;
    width: var(--radix-navigation-menu-viewport-width);
    height: var(--radix-navigation-menu-viewport-height);
    transition: width, height, 250ms ease;
  }